
.bgbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pimgbox,
.imgbox,
.box {
    width: 166px;
    margin: 10px;
    background-size: cover
}

.pimgbox,
.imgbox {
    border-radius: 10px;
    overflow: hidden;
}

.pimgbox {
    height: 240px;
}

.imgbox {
    height: 95px;
}

.box {
    height: 100px;
}

#color {
    border: none;
    background: transparent;
    width: 166px;
    height: 110px;
    margin: 5px 10px;
    position: relative;
    cursor: pointer;
}

#color::before {
    position: absolute;
    color: rgb(255, 255, 255);
    left: 38px;
    top: 44px;
    content: '自定义颜色';
}
@media screen and (min-width: 768px) {
    /* 页面宽度 */
    .page #content-inner {
        max-width: 1200px !important;
        padding: 40px 0;
    }
    /* 顶部导航 */
    .menus_item>a>span {
        padding-left: 8px;
    }
    .menus_item>a {
        border-radius: 8px;
        padding: 12px 20px !important;
        letter-spacing: 8px;
        font-weight: bold
    }
    .menus_item>a i {
        display: none;
    }
    a#site-name {
        font-size: 25px !important;
        padding: 8.5px 12px !important;
    }
    /* 文章卡片 */
    #recent-posts>.recent-post-item {
        height: 14rem;
    }
}

@media screen and (max-width: 768px) {
    /* 背景 */
    .pimgbox,
    .imgbox,
    .box {
        height: 73px;
        width: 135px;
    }
    .pimgbox {
        height: 205px;
    }
    #color {
        width: 141px;
        height: 83px;
        margin: 7px;
    }
    #color::before {
        left: 33px;
        top: 33px;
    }
}